.container {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.title {
	color: #fff;
	font-family: Orbitron;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	text-transform: capitalize;
}
.list {
	display: flex;
	flex-direction: column;
	column-gap: 0;
}
.list > li {
	height: 38px;
	display: flex;
	align-items: center;
}
.list > li > a {
	color: #999;
	font-family: Orbitron;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 37.5px;
	text-transform: capitalize;
	text-decoration: none;
}
