.container {
	display: flex;
	column-gap: 60px;
	margin-left: 28px;
}
.container > a {
	color: #fff;
	font-family: Orbitron;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	text-decoration: none;
}
.active {
	color: #fac422 !important;
}
